@page "/projects/{ProjectId:int}"
@inherits AuthenticatedPageBase

@if (_model == null)
{
    <h3>Project #{@ProjectId}</h3>
    <p>There is no project with the given Id in the database.</p>
}
else
{
    <RadzenStack Orientation="Orientation.Vertical">
        <RadzenStack AlignItems="AlignItems.Center" Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.SpaceBetween">
            <RadzenText Text="@_model.Name" TextStyle="TextStyle.H4" />
            <RadzenSplitButton Icon="list" Click="OnContextButtonClick">
                <ChildContent>
                    <RadzenSplitButtonItem Style="white-space: nowrap;" Text="Rename Project" Value="rename" Icon="edit"/>
                    <RadzenSplitButtonItem Style="white-space: nowrap;" Text="Delete Project" Value="delete" Icon="delete"/>
                </ChildContent>
            </RadzenSplitButton>
        </RadzenStack>
        <RadzenTabs>
            <Tabs>
                <RadzenTabsItem Text="Environments" Icon="desktop_cloud_stack">
                    Environments
                </RadzenTabsItem>
                <RadzenTabsItem Text="Secrets" Icon="lock">
                    Secrets
                </RadzenTabsItem>
                <RadzenTabsItem Text="Feature Flags" Icon="flag">
                    Feature flags
                </RadzenTabsItem>
            </Tabs>
        </RadzenTabs>
    </RadzenStack>
}

@code {

    private RenderFragment ConfirmDeleteContent
        => @<div>
               <p>Are you sure you want to delete project @_model!.Name?</p>
               <p>
                   This will also delete:
               </p>
               <ul>
                   <li>All environments in the project, along with their access keys</li>
                   <li>All secrets, along with all the current values in all environments</li>
                   <li>All feature flags, along with all the current values in all environments</li>
               </ul>
               <p><b>NOTE! There is no undo!</b></p>
           </div>;

}