@inherits LayoutComponentBase

<RadzenComponents @rendermode="InteractiveServer" />
<CascadingAuthenticationState>
    <RadzenLayout>
        <RadzenHeader Orientation="LayoutOrientation.Horizontal">
            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0" JustifyContent="JustifyContent.SpaceBetween">
                <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="10px">
                    <RadzenSidebarToggle Click="@(() => _sidebarExpanded = !_sidebarExpanded)"/>
                    <div><RadzenLabel Text="Configuration Store"/> :: <RadzenLabel Text="@_pageTitle"/></div>
                </RadzenStack>
                <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.End">
                    <AuthorizeView>
                        <RadzenSplitButton ButtonStyle="ButtonStyle.Primary" Icon="account_circle" Click="ProfileButtonClick" Text="@_authenticationStateProvider.AuthenticatedUser?.DisplayName">
                            <RadzenSplitButtonItem Text="Go to profile page" Value="profile"/>
                            <RadzenSplitButtonItem Text="Log out" Value="logout"/>
                        </RadzenSplitButton>
                    </AuthorizeView>
                </RadzenStack>
            </RadzenStack>
        </RadzenHeader>
        <RadzenSidebar @bind-Expanded="@_sidebarExpanded">
            <RadzenPanelMenu>
                <AuthorizeView>
                    <Authorized>
                        <RadzenPanelMenuItem Icon="view_kanban" Text="Projects" />
                        <RadzenPanelMenuItem Icon="build" Text="Administration">
                            <RadzenPanelMenuItem Icon="person" Text="Users" Path="/administration/users" />
                            <RadzenPanelMenuItem Icon="group" Text="User groups" Path="/administration/usergroups" />
                        </RadzenPanelMenuItem>
                    </Authorized>
                    <NotAuthorized>
                        <RadzenPanelMenuItem Text="Login" Path="/" />
                    </NotAuthorized>
                </AuthorizeView>
            </RadzenPanelMenu>
        </RadzenSidebar>
        <RadzenBody>
            <div class="rz-p-4">
                <CascadingValue Value="(Action<string>)SetPageTitle">
                    @Body
                </CascadingValue>
            </div>
        </RadzenBody>
    </RadzenLayout>
</CascadingAuthenticationState>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>